@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Palanquin, sans-serif;
    font-weight: 300;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    height: 100%;
    position: relative;
}

html {
    height: 100%;
    position: relative;
}

section {
    display: block;
    height: 100%;
    padding: 75px;
    padding-left: 100px;
    margin-bottom: 30px;
}


/*headings and logo*/

h1 {
    font-family: Russo One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: yellow;
}

h2, h3 {
    font-family: Russo One, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: yellow;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    line-height: 75px;
}

.full-height {
    text-align: center;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 150%;
    line-height: 75px;
    margin-right: 30px;
}

#menu a {
    color: yellow;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    color: whitesmoke;
}


/*introduction section*/

#main-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    border: yellow solid 2px;
}



#intro-text {
    position: absolute;
    top: 150px;
    right: 150px;
    text-align: center;
    font-size: 30px;
}


/*intro-text animation*/

.pulse {
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }

}


/*curriculum section*/

.learn {
    font-family: Russo One, sans-serif;
    text-align: center;
    margin-top: 75px;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 50px;
}

* {
    box-sizing: border-box;
}

.column {
    margin-top: 30px;
    float: left;
    width: 33%;
    padding: 10px;
}

p {
    font-family: palanquin, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: justify;
    color: whitesmoke;
}

.para-text {
    border-left: 2px solid yellow;
    padding-left: 5px;
}


/*location section*/


.venue {
    font-family: Russo One, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    letter-spacing: 5px;
    line-height: 50px;
    
}

.venue-info {
    text-align: center;
    font-size: 20px;
}

.border-text {
    border-left: 2px solid yellow;
    text-align: center;
    font-size: 20px;
}


/*meet the team section*/

.team-info {
    font-family: Russo One, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: auto 0;
    letter-spacing: 5px;
    line-height: 50px;
}

.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: yellow;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .overlay-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: yellow;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }

  .container:hover .overlay-top {
    bottom: 0;
    height: 100%;
  }
  

  .container:hover .overlay {
    height: 100%;
  }

  
  .text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*sign up section*/

 
  #signup p {
      text-align: center;
      font-size: 30px;
      color: yellow;
      font-family: palanquin, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
  }

  .form {
        height: 425px;
        border: yellow solid 2px;
        background-position: right;
  }

  .form img {
      height: 420px;
      float: right;
  }

  .registration {
    font-family: Russo One, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: auto 0;
    letter-spacing: 5px;
    line-height: 50px;
  }

  .signup-form {
    margin: 20px;
    margin-left: 300px;
    max-width: 525px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: yellow;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: yellow;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
  

/*footer*/

footer {
    position:absolute;
    width:100%;
    height: 150px;
 }

 .footer-links {
     text-align: center;
 }

 .footer-links > li {
    display: inline;
    color: yellow;
 }

 .footer-links i {
     font-size: 160%;
     margin: 1%;
     padding: 5%;
     color: yellow;
     margin-top: 30px;

 }


 @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

    #logo {
        width: 75%;
        display: flexbox;
    }


    #menu {
        display: grid;
        padding: 20%;
    }

    #logo {
        width: auto 0;
    }
  }




 