@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Palanquin, sans-serif;
    font-weight: 300;
    background-color: black;
    color: whitesmoke;
}

/*headings and logo*/

h1, h2 {
    font-family: Russo One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: red;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#nav-links {
    font-size: 110%;
    letter-spacing: 5px;
}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-links a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-links, #logo {
    line-height: 75px;
}

#nav-links a:hover {
    color: white;
}


/*introduction section*/

#main-image {
    height: 600px;
    width: 99.5%;
    background: url('../images/lrg-main-image.jpg') no-repeat center center;
    overflow: hidden;
    border: red solid 2px;
}


#intro-text {
    position: absolute;
    bottom: 300px;
    right: 75px;
}

#intro-text h1, h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px red;

}

/*intro-text animation*/

.pulse {
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }

}


/*curriculum section*/

#curriculum {
    color: red;
    height: 600px;
}

#tackle {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#regulations {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#concussion {
    width: 33%;
    margin: 0 auto;
}

.tackle-heading {
    width: 33%;
    margin-left: 30px;
    text-align: center;
}

.concussion-heading {
    margin: 0 auto;
}

.rules-heading {
    width: 33%;
    margin-right: 30px;
    text-align: center;
}



