@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Russo One, sans-serif;
    font-weight: 300;
}